@import 'node_modules/reset-css/_reset';
@import url(https://fonts.googleapis.com/css?family=Lora|Ubuntu:300);
$ubunu:'Ubuntu',
sans-serif;
$lora: 'Lora',
serif;
$small:10px;
$darkColor:rgb(46, 115, 118);
$lightColor:rgb(171, 238, 237);
;
#toaster {
    font-family: $ubunu;
    color: whitesmoke;
    position: absolute;
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    line-height: 30px;
    top: -50px;
    transition: top 0.3s ease-in-out;
}

#toaster.error {
    background: rgb(255, 0, 0);
}

#toaster.info {
    background: rgb(0, 0, 255);
}

.showtoast {
    top: 0px !important;
}

#landing {
    font-family: $ubunu;
}

.card {
    // border-radius: 4px;
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    label {
        padding-top: 15px;
    }
    input {
        font-family: $ubunu;
    }
}

input:focus {
    outline: none;
}

.btn {
    overflow: hidden;
    position: relative; //appearance: none;
    &::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size); //
        //    background: radial-gradient(circle closest-side, #4405f7, transparent);
        background: radial-gradient(circle closest-side, greenyellow, transparent);
        transform: translate(-50%, -50%);
        transition: width .2s ease, height .2s ease;
    }
    &:active::before {
        --size: 400px;
    }
}

.btn:active {
    background: rgba(233, 7, 7, 0.15);
}

.btn:focus {
    outline: none !important;
}

.btn-50 {
    width: 50%;
}

.btn-small {
    font-size: 12px;
}

.btn-sec {
    color: $darkColor;
    background: rgba(255, 255, 255, 0.6)
}

// .card {
//     width: 50%;
//     height: 50px;
//     float: left;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.player-black {
    transform: rotate(180deg);
}

.wrapper {
    //   margin: 100px;
    --rotateblack: 0deg;
    height: 100vw;
    max-height: 600px;
    width: 100vw;
    max-width: 600px;
    border-top: 2px solid $lightColor;
    border-bottom: 2px solid $lightColor;
    transform: rotate(var(--rotateblack));
}

.piece {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    font-size: 40px;
    line-height: 40px; //color: red;
    position: absolute; //  transform: translate(0px, 0px);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.move {
    transform: translate(100px, 100px);
}

.cell {
    float: left;
    height: 12.5%;
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    line-height: 40px;
    transform: rotate(var(--rotateblack));
}

.cell:nth-child(-2n+8),
.cell:nth-child(8)~div:nth-child(-2n+15),
.cell:nth-child(16)~div:nth-child(-2n+24),
.cell:nth-child(24)~div:nth-child(-2n+31),
.cell:nth-child(32)~div:nth-child(-2n+40),
.cell:nth-child(40)~div:nth-child(-2n+47),
.cell:nth-child(48)~div:nth-child(-2n+56),
.cell:nth-child(56)~div:nth-child(-2n+63) {
    background: $darkColor;
}

schaak-bord {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 85vh;
    align-items: center;
}

.selectedCell {
    box-shadow: inset $lightColor 0px 0px 10px 5px
}

.possibleMove {
    box-shadow: inset greenyellow 0px 0px 10px 5px
}

.small-padding-top {
    padding-top: $small
}

.msg-brd-wrap {
    margin-top: $small;
    width: 90%;
}

#msg-brd {
    height: 200px;
    background: white;
    clear: both;
    overflow: auto;
    margin-bottom: 3px;
}

.msg {
    font-family: $ubunu;
    max-width: 200px;
    margin: 4px;
    padding: 4px;
    clear: both;
    border-radius: 7px;
}

.msg-msg {
    margin: 0px 0px 4px 0px;
    padding: 4px 0px;
}

.msg-user {
    font-size: 10px;
    font-family: $lora;
}

.other-msg {
    color: white;
    background: $darkColor;
    float: left;
}

.my-msg {
    border: 1px solid $darkColor;
    color: $darkColor;
    float: right;
}

#openGameList {
    width: 100vw;
    height: calc(100vh - 45px);
    overflow: auto;
    .btn {
        margin-top: 10px;
    }
}